<?xml version="1.0" encoding="utf-8"?>
<packages>

  <package id="xunit.runner.console" version="2.3.1" />
  <package id="xunit.runner.msbuild" version="2.3.1" />
  <package id="Msbuild.Corext" version="15.5.27130" />
  <package id="MicroBuild.Core" version="0.3.0" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Vsts.Git" version="1.0.0-beta-63127-02" />
</packages>
